@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: no-repeat center url("./sky.jpg");
  background-size: cover;
}

/* Global Class */
.container {
  display: flex;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  margin: 1rem 2rem;
}

/* Specific Class */
.main__header {
  margin-top: -12rem;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  margin-bottom: 1.8rem;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input__group {
  margin: 0.5rem;
}

.input__label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.input__group > input {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 2rem;
  width: 8rem;
  border: 4px solid #fff;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  background-color: #fff;
}

.input__group > input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #8b5cf6;
}

.btn-submit,
.btn-reset {
  margin: 0 auto;
  padding: 0.6rem 1.4rem;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-submit {
  background-color: #8b5cf6;
  color: #fff;
}

.btn-submit:hover {
  background-color: #6d28d9;
  transition: ease-in-out 0.2s;
}

.btn-submit:disabled {
  background-color: #a78bfa;
}

.btn-reset {
  background-color: #fcd34d;
}

.btn-reset:hover {
  background-color: #fbbf24;
  transition: ease-in-out 0.2s;
}
